$white: #fff;
$mediumDark: #2c6e7a;
$black: #181c20;
$medium: #469487;
$dark: #102e2f;
$light: #79cdac;
//$mediumDark: #243a48;
$yellowgreen: #75c86d;
$ice: rgba(206, 229, 221, 1);
$deepDark: #161a1c;
$errorMessage: #f5425a;