@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: url(../images/homeland.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.banner::after {
  content: "";
  position: absolute;
  top: -10%;
  right: -300px;
  width: 700px;
  height: 140%;
  background: #469487;
  transform: rotate(10deg);
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.8);
}
.banner nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.25em;
  background: transparent;
  z-index: 10000;
}
.banner nav .name {
  position: relative;
  font-family: "Rock Salt", cursive;
  color: #2c6e7a;
  font-size: 1em;
  cursor: pointer;
}
.banner nav .navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.banner nav .navbar li {
  position: relative;
  list-style: none;
  cursor: pointer;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid transparent;
  margin-left: 2.5em;
}
.banner nav .navbar li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-bottom: 3px solid #181c20;
  transition: 0.5s ease-in-out;
}
.banner nav .navbar li:hover::after {
  width: 100%;
}
.banner nav .navbar li:nth-child(1) {
  margin-left: 0;
}
.banner nav .navbar li a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  color: #181c20;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .mainContent {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0;
  padding-right: 6.25em;
  z-index: 10;
}
.banner .mainContent .textBox {
  position: relative;
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.banner .mainContent .textBox h2 {
  font-size: 2.2em;
  color: #161a1c;
  font-family: "Rock Salt", cursive;
  font-weight: 500;
}
.banner .mainContent .textBox h3 {
  color: #181c20;
  opacity: 0.8;
  font-weight: 600;
}
.banner .mainContent .textBox p {
  color: #102e2f;
  opacity: 0.8;
  font-weight: 400;
}
.banner .mainContent .profile {
  position: relative;
  justify-self: flex-end;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40%;
  height: 400px;
  background: linear-gradient(45deg, rgba(117, 200, 109, 0.4), #469487 80%);
  z-index: 100;
}
.banner .mainContent .profile .imgBox {
  position: relative;
  width: 240px;
  height: 300px;
  transform: translateX(90%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
}
.banner .mainContent .profile .imgBox img {
  position: relative;
  height: 100%;
  width: auto;
}

.skills {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #161a1c;
  padding: 6.25em;
}
.skills h2 {
  position: absolute;
  top: -30px;
  width: 100%;
  max-width: 700px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(206, 229, 221, 0.7);
  color: #161a1c;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.1em;
  box-shadow: 0 -0.3em 1.5em 0.2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 10;
}
.skills .mainContent {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 15em);
  justify-content: center;
  grid-gap: 2.8em;
  z-index: 10;
}
.skills .mainContent .skillCard {
  position: relative;
  width: 150px;
  height: 200px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 2px;
}
.skills .mainContent .skillCard .tech {
  position: relative;
  margin-bottom: 1.5em;
  border-radius: 2px;
  background: linear-gradient(10deg, #469487, #79cdac, #79cdac);
  width: 4.5em;
  height: 4.5em;
  z-index: 10;
}
.skills .mainContent .skillCard .tech::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -50%;
  left: -35%;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.skills .mainContent .skillCard .tech ion-icon {
  position: absolute;
  top: -0.35em;
  left: -0.2em;
  font-size: 3em;
}
.skills .mainContent .skillCard h4 {
  font-weight: 500;
  opacity: 0.8;
  font-size: 0.9em;
  font-family: "Rock Salt", cursive;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills .mainContent .skillCard h4 span {
  font-family: "Rock Salt", cursive;
  font-size: 0.8em;
  margin-left: 0.5em;
}
.skills .mainContent .skillCard h4 span:nth-child(1) {
  margin-left: 0;
}

.projects {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(206, 229, 221, 0.1), rgba(206, 229, 221, 0.8), #cee5dd);
  padding: 1.5em 6.25em;
  padding-bottom: 0;
}
.projects h2 {
  position: absolute;
  top: -30px;
  width: 100%;
  max-width: 700px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(206, 229, 221, 0.7);
  color: #161a1c;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.1em;
  box-shadow: 0 -0.3em 1.5em 0.2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 10;
}
.projects .mainContent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects .mainContent .projectCard {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 2px solid rgba(70, 148, 135, 0.3);
}
.projects .mainContent .projectCard .imgBox {
  position: relative;
  width: 240px;
  height: 300px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
  margin-right: 2em;
}
.projects .mainContent .projectCard .imgBox img {
  position: relative;
  height: 100%;
  width: auto;
}
.projects .mainContent .projectCard .textBox {
  position: relative;
  max-width: 700px;
  height: 100%;
  padding-top: 0.8em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.projects .mainContent .projectCard .textBox::before {
  content: "Recipe Book";
  position: absolute;
  top: -25%;
  left: -10%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.5em;
  line-height: 1.1em;
  font-family: "Rock Salt", cursive;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
  z-index: 1;
}
.projects .mainContent .projectCard .textBox .title {
  color: #181c20;
  font-size: 2.5em;
  font-family: "Rock Salt", cursive;
  line-height: 1em;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 0.5em;
  z-index: 10;
}
.projects .mainContent .projectCard .textBox .description {
  color: #102e2f;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  z-index: 10;
}
.projects .mainContent .projectCard .textBox .techBar {
  position: relative;
  width: 100%;
  margin-bottom: 2em;
}
.projects .mainContent .projectCard .textBox .techBar span {
  padding: 3px 6px;
  background: linear-gradient(30deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  color: #2c6e7a;
  font-size: 1em;
  border-radius: 2px;
  margin-right: 0.5em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.projects .mainContent .projectCard .textBox .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.projects .mainContent .projectCard .textBox .links a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 3px;
  background: #469487;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 2px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}
.projects .mainContent .projectCard .textBox .links a ion-icon {
  margin-left: 5px;
  font-size: 1.1em;
}
.projects .mainContent .projectCard .textBox .links a:nth-child(1) {
  margin-right: 1.2em;
}
.projects .mainContent .projectCard .textBox .links a:hover {
  background: #75c86d;
  color: #181c20;
}
.projects .mainContent .projectNavbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: flex-end;
}
.projects .mainContent .projectNavbar li {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.7em 1.5em;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  margin-bottom: 1em;
  transition: 0.3s ease-out;
}
.projects .mainContent .projectNavbar li:hover, .projects .mainContent .projectNavbar li.active {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.projects .mainContent .projectNavbar li:hover h4, .projects .mainContent .projectNavbar li.active h4 {
  letter-spacing: 2px;
}
.projects .mainContent .projectNavbar li .imgBox {
  position: relative;
  width: 160px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 1em;
}
.projects .mainContent .projectNavbar li .imgBox img {
  position: relative;
  height: 100%;
  width: 100%;
}
.projects .mainContent .projectNavbar li h4 {
  color: #181c20;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 0.9em;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}

.contact {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(217deg, #161a1c, rgba(22, 26, 28, 0.8) 70.71%), linear-gradient(127deg, #102e2f, rgba(16, 46, 47, 0.8) 70.71%), linear-gradient(336deg, #102e2f, rgba(16, 46, 47, 0.6) 70.71%);
  padding: 2em 6.25em;
}
.contact::before {
  content: "";
  position: absolute;
  top: calc(40% - 130px);
  left: 10px;
  width: 260px;
  height: 260px;
  background: linear-gradient(#75c86d, rgba(70, 148, 135, 0.3));
  border-radius: 8px;
  transform: rotate(45deg);
}
.contact::after {
  content: "";
  position: absolute;
  bottom: calc(30% - 90px);
  right: 180px;
  width: 180px;
  height: 180px;
  background: linear-gradient(45deg, #75c86d, rgba(70, 148, 135, 0.3));
  border-radius: 6px;
  transform: rotate(45deg);
}
.contact h2 {
  position: absolute;
  top: -30px;
  width: 100%;
  max-width: 700px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(206, 229, 221, 0.7);
  color: #161a1c;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.1em;
  box-shadow: 0 -0.3em 1.5em 0.2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 10;
}
.contact .mainContent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.contact .mainContent .messengerBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3.5em;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
}
.contact .mainContent .messengerBox input, .contact .mainContent .messengerBox textarea {
  position: relative;
  width: 100%;
  outline: none;
  border-radius: 2px;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 1.5em;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-weight: 500;
  font-size: 1.1em;
}
.contact .mainContent .messengerBox input::placeholder, .contact .mainContent .messengerBox textarea::placeholder {
  color: #cee5dd;
  font-weight: 400;
  letter-spacing: 1px;
}
.contact .mainContent .messengerBox textarea {
  resize: none;
  height: 200px;
}
.contact .mainContent .messengerBox .submit {
  position: relative;
  width: 100%;
  border: none;
  padding: 8px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background: #469487;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.contact .mainContent .messengerBox .submit ion-icon {
  position: absolute;
  right: 2em;
  font-size: 1.1em;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.contact .mainContent .messengerBox .submit:hover {
  background: #75c86d;
  color: #181c20;
}
.contact .mainContent .messengerBox .submit:hover ion-icon {
  right: 1.8em;
  color: #181c20;
}
.contact .mainContent .contactBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
