@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
  overflow-x: hidden;
}
@media (max-width: 991px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 789px) {
  body {
    font-size: 14px;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: url(../images/homeland.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media (max-width: 789px) {
  .banner {
    height: 100%;
    min-height: 100vh;
    padding: 2.5em 0;
  }
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}
.banner::after {
  content: "";
  position: absolute;
  top: -10%;
  right: -18.75em;
  width: 43.75em;
  height: 140%;
  background: #469487;
  transform: rotate(10deg);
  box-shadow: 0.3em 0 0.9em rgba(0, 0, 0, 0.8);
}
@media (max-width: 991px) {
  .banner::after {
    right: -27.5em;
  }
}
@media (max-width: 500px) {
  .banner::after {
    right: -28.5em;
  }
}
.banner nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.25em;
  background: transparent;
  z-index: 10000;
  transition: 0.5s ease-out;
}
@media (max-width: 1115px) {
  .banner nav {
    padding: 0 5.6em;
  }
}
@media (max-width: 991px) {
  .banner nav {
    padding: 0 4em;
  }
}
@media (max-width: 789px) {
  .banner nav {
    padding: 0 3.5em;
    height: 3.5em;
  }
}
@media (max-width: 500px) {
  .banner nav {
    padding: 0 1.8em;
  }
}
.banner nav.sticky {
  height: 3.5em;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 789px) {
  .banner nav.sticky {
    background: transparent;
    backdrop-filter: none;
    box-shadow: none;
  }
}
.banner nav.active .mobileNav::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 #181c20;
  background: #181c20;
}
.banner nav.active .mobileNav::after {
  transform: translateY(0px) rotate(-45deg);
  background: #181c20;
}
.banner nav.active .mobileNavbar {
  right: 0;
}
.banner nav .name {
  position: relative;
  font-family: "Rock Salt", cursive;
  color: #2c6e7a;
  font-size: 1em;
  cursor: pointer;
  z-index: 1000;
}
@media (max-width: 500px) {
  .banner nav .name {
    font-size: 0.9em;
  }
}
.banner nav .navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (max-width: 789px) {
  .banner nav .navbar {
    display: none;
  }
}
.banner nav .navbar li {
  position: relative;
  list-style: none;
  cursor: pointer;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid transparent;
  margin-left: 2.5em;
}
.banner nav .navbar li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-bottom: 3px solid #181c20;
  transition: 0.5s ease-in-out;
}
.banner nav .navbar li:hover::after {
  width: 100%;
}
.banner nav .navbar li:nth-child(1) {
  margin-left: 0;
}
.banner nav .navbar li a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  color: #181c20;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner nav .mobileNav {
  display: none;
}
@media (max-width: 789px) {
  .banner nav .mobileNav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    cursor: pointer;
    z-index: 1000;
  }
  .banner nav .mobileNav::before {
    content: "";
    position: absolute;
    width: 2em;
    height: 2px;
    background: #cee5dd;
    transform: translateY(-8px);
    box-shadow: 0 8px #cee5dd;
    transition: 0.5s;
  }
  .banner nav .mobileNav::after {
    content: "";
    position: absolute;
    width: 2em;
    height: 2px;
    background: #cee5dd;
    transform: translateY(8px);
    transition: 0.5s;
  }
}
.banner nav .mobileNavbar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  padding: 4em 0;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}
.banner nav .mobileNavbar li {
  list-style: none;
  width: 100%;
  padding: 1em 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner nav .mobileNavbar li a {
  position: relative;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6em;
  color: #181c20;
  border-bottom: 3px solid transparent;
}
.banner nav .mobileNavbar li a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-bottom: 3px solid #181c20;
  transition: 0.5s ease-in-out;
}
.banner nav .mobileNavbar li a:hover::after {
  width: 100%;
}
.banner .mainContent {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0;
  padding-right: 6.25em;
  z-index: 10;
}
@media (max-width: 1115px) {
  .banner .mainContent {
    padding-right: 5.6em;
  }
}
@media (max-width: 991px) {
  .banner .mainContent {
    padding-right: 4em;
  }
}
@media (max-width: 789px) {
  .banner .mainContent {
    padding-right: 3.5em;
    padding-left: 3.5em;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  .banner .mainContent {
    padding-right: 1.8em;
    padding-left: 1.8em;
  }
}
.banner .mainContent .textBox {
  position: relative;
  max-width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 789px) {
  .banner .mainContent .textBox {
    width: 100%;
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
}
.banner .mainContent .textBox h2 {
  font-size: 2.2em;
  color: #161a1c;
  font-family: "Rock Salt", cursive;
  font-weight: 500;
}
@media (max-width: 991px) {
  .banner .mainContent .textBox h2 {
    font-size: 1.8em;
  }
}
.banner .mainContent .textBox h3 {
  color: #181c20;
  opacity: 0.8;
  font-weight: 600;
}
@media (max-width: 991px) {
  .banner .mainContent .textBox h3 {
    margin-bottom: 0.6em;
  }
}
.banner .mainContent .textBox p {
  color: #102e2f;
  opacity: 0.8;
  font-weight: 400;
}
.banner .mainContent .profile {
  position: relative;
  justify-self: flex-end;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40%;
  height: 25em;
  background: linear-gradient(45deg, rgba(117, 200, 109, 0.4), #469487 80%);
  z-index: 100;
}
@media (max-width: 789px) {
  .banner .mainContent .profile {
    margin-bottom: 2em;
    align-self: flex-start;
    max-width: 100%;
    height: 21.4em;
    background: transparent;
    z-index: 10;
  }
}
.banner .mainContent .profile .imgBox {
  position: relative;
  width: 15em;
  height: 18.75em;
  transform: translateX(90%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.2em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
}
@media (max-width: 1115px) {
  .banner .mainContent .profile .imgBox {
    transform: translateX(80%);
  }
}
@media (max-width: 991px) {
  .banner .mainContent .profile .imgBox {
    transform: translateX(65%);
  }
}
@media (max-width: 789px) {
  .banner .mainContent .profile .imgBox {
    transform: none;
    width: 17.1em;
    height: 21.4em;
  }
}
.banner .mainContent .profile .imgBox img {
  position: relative;
  height: 100%;
  width: auto;
}

.skills {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: #161a1c;
  padding: 6.25em;
}
@media (max-width: 1115px) {
  .skills {
    padding: 5.6em;
  }
}
@media (max-width: 991px) {
  .skills {
    padding: 4em;
  }
}
@media (max-width: 789px) {
  .skills {
    padding: 3.5em;
    padding-top: 4em;
    height: 100%;
    min-height: 100vh;
  }
}
@media (max-width: 500px) {
  .skills {
    padding: 1.8em;
    padding-top: 4em;
  }
}
.skills h2 {
  position: absolute;
  top: -30px;
  width: 100%;
  max-width: 43.75em;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(206, 229, 221, 0.7);
  color: #161a1c;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.1em;
  box-shadow: 0 -0.3em 1.5em 0.2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 100;
}
@media (max-width: 991px) {
  .skills h2 {
    font-size: 1.3em;
    max-width: 36em;
  }
}
@media (max-width: 789px) {
  .skills h2 {
    max-width: calc(100% - 7em);
    height: 50px;
    top: -25px;
  }
}
@media (max-width: 500px) {
  .skills h2 {
    font-size: 1.2em;
    letter-spacing: 0.06em;
    max-width: calc(100% - 3.6em);
  }
}
.skills .mainContent {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 15em);
  justify-content: center;
  grid-gap: 2.8em;
  z-index: 10;
}
@media (max-width: 1115px) {
  .skills .mainContent {
    grid-template-columns: repeat(auto-fill, 10em);
  }
}
@media (max-width: 991px) {
  .skills .mainContent {
    grid-template-columns: repeat(auto-fill, 9.7em);
    grid-gap: 1.6em;
  }
}
@media (max-width: 789px) {
  .skills .mainContent {
    grid-gap: 1em;
  }
}
.skills .mainContent .skillCard {
  position: relative;
  width: 9.4em;
  height: 12.5em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.1em;
}
@media (max-width: 991px) {
  .skills .mainContent .skillCard {
    width: 8em;
    height: 10.7em;
  }
}
.skills .mainContent .skillCard .tech {
  position: relative;
  margin-bottom: 1.5em;
  border-radius: 0.1em;
  background: linear-gradient(10deg, #469487, #79cdac, #79cdac);
  width: 4.5em;
  height: 4.5em;
  z-index: 10;
}
.skills .mainContent .skillCard .tech::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: -50%;
  left: -35%;
  border-radius: 0.1em;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.skills .mainContent .skillCard .tech ion-icon {
  position: absolute;
  top: -0.35em;
  left: -0.2em;
  font-size: 3em;
}
@media (max-width: 991px) {
  .skills .mainContent .skillCard .tech ion-icon {
    font-size: 2.8em;
  }
}
.skills .mainContent .skillCard h4 {
  font-weight: 500;
  opacity: 0.8;
  font-size: 0.9em;
  font-family: "Rock Salt", cursive;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills .mainContent .skillCard h4 span {
  font-family: "Rock Salt", cursive;
  font-size: 0.8em;
  margin-left: 0.5em;
}
.skills .mainContent .skillCard h4 span:nth-child(1) {
  margin-left: 0;
}

.projects {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(206, 229, 221, 0.1), rgba(206, 229, 221, 0.8), #cee5dd);
  padding: 1.5em 6.25em;
  padding-bottom: 0;
}
@media (max-width: 1115px) {
  .projects {
    padding: 1em 5.6em;
    padding-bottom: 0;
  }
}
@media (max-width: 991px) {
  .projects {
    padding: 0.8em 4em;
    padding-bottom: 0;
  }
}
@media (max-width: 789px) {
  .projects {
    padding: 0.8em 3.5em;
    height: 100%;
    min-height: 100vh;
  }
}
.projects h2 {
  position: absolute;
  top: -30px;
  width: 100%;
  max-width: 43.75em;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(206, 229, 221, 0.7);
  color: #161a1c;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.1em;
  box-shadow: 0 -0.3em 1.5em 0.2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 100;
}
@media (max-width: 991px) {
  .projects h2 {
    font-size: 1.3em;
    max-width: 36em;
  }
}
@media (max-width: 789px) {
  .projects h2 {
    max-width: calc(100% - 7em);
    height: 50px;
    top: -25px;
  }
}
@media (max-width: 500px) {
  .projects h2 {
    font-size: 1.2em;
    letter-spacing: 0.06em;
    max-width: calc(100% - 3.6em);
  }
}
.projects .mainContent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects .mainContent .projectCard {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 2px solid rgba(70, 148, 135, 0.3);
}
@media (max-width: 991px) {
  .projects .mainContent .projectCard {
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
  }
}
@media (max-width: 789px) {
  .projects .mainContent .projectCard {
    justify-content: center;
    flex-direction: column;
  }
}
.projects .mainContent .projectCard .imgBox {
  position: relative;
  width: 22.88em;
  height: 14em;
  border-radius: 0.2em;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
}
@media (max-width: 991px) {
  .projects .mainContent .projectCard .imgBox {
    width: 20em;
    height: 12.25em;
    margin-right: 1.2em;
  }
}
@media (max-width: 789px) {
  .projects .mainContent .projectCard .imgBox {
    margin-right: 0;
    margin-top: 2em;
    margin-bottom: 1em;
  }
}
.projects .mainContent .projectCard .imgBox img {
  position: relative;
  height: 100%;
  width: auto;
}
.projects .mainContent .projectCard .textBox {
  position: relative;
  max-width: 43.75em;
  height: 100%;
  padding-top: 0.8em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 1115px) {
  .projects .mainContent .projectCard .textBox {
    max-width: 25em;
    padding-top: 0;
  }
}
@media (max-width: 789px) {
  .projects .mainContent .projectCard .textBox {
    width: 100%;
    max-width: 100%;
    height: auto;
    align-items: center;
    text-align: center;
  }
}
.projects .mainContent .projectCard .textBox::before {
  content: "Recipe Book";
  position: absolute;
  top: -25%;
  left: -10%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5.5em;
  line-height: 1.1em;
  font-family: "Rock Salt", cursive;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
  z-index: 1;
}
@media (max-width: 1115px) {
  .projects .mainContent .projectCard .textBox::before {
    display: none;
  }
}
.projects .mainContent .projectCard .textBox .title {
  color: #181c20;
  font-size: 2.5em;
  font-family: "Rock Salt", cursive;
  line-height: 1em;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-bottom: 0.5em;
  z-index: 10;
}
@media (max-width: 1115px) {
  .projects .mainContent .projectCard .textBox .title {
    font-size: 2.2em;
  }
}
@media (max-width: 991px) {
  .projects .mainContent .projectCard .textBox .title {
    font-size: 2em;
  }
}
@media (max-width: 789px) {
  .projects .mainContent .projectCard .textBox .title {
    font-size: 1.6em;
  }
}
.projects .mainContent .projectCard .textBox .description {
  color: #102e2f;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  z-index: 10;
}
@media (max-width: 1115px) {
  .projects .mainContent .projectCard .textBox .description {
    line-height: 1.3em;
  }
}
@media (max-width: 991px) {
  .projects .mainContent .projectCard .textBox .description {
    margin-bottom: 0.7em;
  }
}
.projects .mainContent .projectCard .textBox .techBar {
  position: relative;
  width: 100%;
  margin-bottom: 2em;
}
@media (max-width: 1115px) {
  .projects .mainContent .projectCard .textBox .techBar {
    margin-bottom: 1.5em;
  }
}
.projects .mainContent .projectCard .textBox .techBar span {
  padding: 0.2em 0.4em;
  background: linear-gradient(30deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  color: #2c6e7a;
  font-size: 1em;
  border-radius: 0.1em;
  margin-right: 0.5em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 1115px) {
  .projects .mainContent .projectCard .textBox .techBar span {
    font-size: 0.9em;
  }
}
.projects .mainContent .projectCard .textBox .links {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 789px) {
  .projects .mainContent .projectCard .textBox .links {
    justify-content: center;
  }
}
.projects .mainContent .projectCard .textBox .links a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12.5em;
  text-decoration: none;
  padding: 0.5em 0;
  border-radius: 0.2em;
  background: #469487;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.1em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}
@media (max-width: 1115px) {
  .projects .mainContent .projectCard .textBox .links a {
    width: 9.4em;
  }
}
@media (max-width: 789px) {
  .projects .mainContent .projectCard .textBox .links a {
    width: 9em;
  }
}
.projects .mainContent .projectCard .textBox .links a ion-icon {
  margin-left: 0.3em;
  font-size: 1.1em;
}
.projects .mainContent .projectCard .textBox .links a:nth-child(1) {
  margin-right: 1.2em;
}
.projects .mainContent .projectCard .textBox .links a:hover {
  background: #75c86d;
  color: #181c20;
}
.projects .mainContent .projectNavbar {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: flex-end;
}
.projects .mainContent .projectNavbar li {
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.7em 1.5em;
  border-radius: 0.25em;
  cursor: pointer;
  border: 1px solid transparent;
  margin-bottom: 1em;
  transition: 0.3s ease-out;
}
.projects .mainContent .projectNavbar li:hover, .projects .mainContent .projectNavbar li.active {
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}
.projects .mainContent .projectNavbar li:hover h4, .projects .mainContent .projectNavbar li.active h4 {
  letter-spacing: 0.1em;
}
.projects .mainContent .projectNavbar li .imgBox {
  position: relative;
  width: 10em;
  height: 7.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2em;
  overflow: hidden;
  margin-bottom: 1em;
}
@media (max-width: 1115px) {
  .projects .mainContent .projectNavbar li .imgBox {
    width: 8.9em;
    height: 6.6em;
  }
}
.projects .mainContent .projectNavbar li .imgBox img {
  position: relative;
  height: 100%;
  width: 100%;
}
.projects .mainContent .projectNavbar li h4 {
  color: #181c20;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 0.9em;
  letter-spacing: 0.06em;
  transition: 0.3s ease-in-out;
}

.contact {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(217deg, #161a1c, rgba(22, 26, 28, 0.8) 70.71%), linear-gradient(127deg, #102e2f, rgba(16, 46, 47, 0.8) 70.71%), linear-gradient(336deg, #102e2f, rgba(16, 46, 47, 0.6) 70.71%);
  padding: 2em 6.25em;
}
@media (max-width: 1115px) {
  .contact {
    font-size: 15px;
    padding: 1.5em 5.6em;
  }
}
@media (max-width: 991px) {
  .contact {
    height: 100%;
    min-height: 100vh;
    padding: 1.5em 4em;
  }
}
@media (max-width: 991px) {
  .contact {
    padding: 1.5em 3.5em;
  }
}
@media (max-width: 500px) {
  .contact {
    padding: 1.5em 1.8em;
  }
}
.contact::before {
  content: "";
  position: absolute;
  top: calc(40% - 130px);
  left: 0.6em;
  width: 16.25em;
  height: 16.25em;
  background: linear-gradient(rgba(117, 200, 109, 0.8), rgba(70, 148, 135, 0.3));
  border-radius: 0.5em;
  transform: rotate(45deg);
}
@media (max-width: 991px) {
  .contact::before {
    background: linear-gradient(to top, rgba(117, 200, 109, 0.6), rgba(70, 148, 135, 0.2), rgba(70, 148, 135, 0.01));
  }
}
.contact::after {
  content: "";
  position: absolute;
  bottom: calc(25% - 5.62em);
  right: 11.25em;
  width: 11.25em;
  height: 11.25em;
  background: linear-gradient(-60deg, rgba(117, 200, 109, 0.6), rgba(70, 148, 135, 0.4), rgba(70, 148, 135, 0.1), transparent);
  border-radius: 0.4em;
  transform: rotate(45deg);
}
@media (max-width: 789px) {
  .contact::after {
    right: 5em;
  }
}
.contact h2 {
  position: absolute;
  top: -30px;
  width: 100%;
  max-width: 43.75em;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(206, 229, 221, 0.7);
  color: #161a1c;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 0.1em;
  box-shadow: 0 -0.3em 1.5em 0.2em rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 100;
}
@media (max-width: 991px) {
  .contact h2 {
    font-size: 1.3em;
    max-width: 36em;
  }
}
@media (max-width: 789px) {
  .contact h2 {
    max-width: calc(100% - 7em);
    height: 50px;
    top: -25px;
  }
}
@media (max-width: 500px) {
  .contact h2 {
    font-size: 1.2em;
    letter-spacing: 0.06em;
    max-width: calc(100% - 3.6em);
  }
}
.contact .mainContent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
@media (max-width: 991px) {
  .contact .mainContent {
    justify-content: center;
    flex-direction: column-reverse;
  }
}
.contact .mainContent .messengerBox {
  position: relative;
  max-height: calc(100vh - 5em);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3.5em;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 0.25em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  margin-right: 1.5em;
}
@media (max-width: 1115px) {
  .contact .mainContent .messengerBox {
    padding: 2.5em;
  }
}
@media (max-width: 991px) {
  .contact .mainContent .messengerBox {
    height: auto;
    width: 100%;
    max-width: 30em;
    margin-bottom: 2em;
    margin-right: 0;
  }
}
@media (max-width: 789px) {
  .contact .mainContent .messengerBox {
    max-width: calc(100% - 1.5em);
    padding: 2em;
    margin-bottom: 2.5em;
  }
}
@media (max-width: 500px) {
  .contact .mainContent .messengerBox {
    max-width: calc(100% - 2em);
    padding: 1.5em;
  }
}
.contact .mainContent .messengerBox input, .contact .mainContent .messengerBox textarea {
  position: relative;
  width: 100%;
  outline: none;
  border-radius: 0.2em;
  padding: 0.3em 0.6em;
  background: rgba(0, 0, 0, 0.4);
  margin-bottom: 1.2em;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-weight: 500;
  font-size: 1.1em;
}
@media (max-width: 789px) {
  .contact .mainContent .messengerBox input, .contact .mainContent .messengerBox textarea {
    font-size: 1em;
  }
}
.contact .mainContent .messengerBox input::placeholder, .contact .mainContent .messengerBox textarea::placeholder {
  color: #cee5dd;
  font-weight: 400;
  letter-spacing: 0.06em;
}
.contact .mainContent .messengerBox textarea {
  resize: none;
  height: 12.5em;
}
.contact .mainContent .messengerBox .submit {
  position: relative;
  width: 100%;
  border: none;
  padding: 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1em;
  background: #469487;
  color: #fff;
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
@media (max-width: 789px) {
  .contact .mainContent .messengerBox .submit {
    font-size: 1em;
  }
}
.contact .mainContent .messengerBox .submit ion-icon {
  position: absolute;
  right: 2em;
  font-size: 1.1em;
  color: #fff;
  transition: 0.3s ease-in-out;
}
@media (max-width: 500px) {
  .contact .mainContent .messengerBox .submit ion-icon {
    position: relative;
    right: auto;
    margin-left: 0.4em;
  }
}
.contact .mainContent .messengerBox .submit:hover {
  background: #75c86d;
  color: #181c20;
}
.contact .mainContent .messengerBox .submit:hover ion-icon {
  right: 1.8em;
  color: #181c20;
}
@media (max-width: 500px) {
  .contact .mainContent .messengerBox .submit:hover ion-icon {
    position: relative;
    right: auto;
    margin-left: 0.4em;
  }
}
.contact .mainContent .contactBox {
  position: relative;
  height: 100%;
  padding: 2em 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
@media (max-width: 789px) {
  .contact .mainContent .contactBox {
    padding: 0;
    padding-top: 2em;
  }
}
.contact .mainContent .contactBox h3 {
  font-size: 2em;
  font-family: "Rock Salt", cursive;
  font-weight: 500;
  line-height: 1em;
  letter-spacing: 0.2em;
  margin-bottom: 2.5em;
  color: #79cdac;
}
@media (max-width: 1115px) {
  .contact .mainContent .contactBox h3 {
    font-size: 1.5em;
    letter-spacing: 0.1em;
  }
}
@media (max-width: 991px) {
  .contact .mainContent .contactBox h3 {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }
}
@media (max-width: 789px) {
  .contact .mainContent .contactBox h3 {
    font-size: 1.6em;
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .contact .mainContent .contactBox h3 {
    font-size: 1.2em;
  }
}
.contact .mainContent .contactBox span {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2em;
  color: #cee5dd;
}
@media (max-width: 500px) {
  .contact .mainContent .contactBox span {
    font-size: 0.8em;
  }
}
.contact .mainContent .contactBox span ion-icon {
  font-size: 2.5em;
  color: #469487;
  margin-right: 1em;
}
@media (max-width: 1115px) {
  .contact .mainContent .contactBox span ion-icon {
    font-size: 1.8em;
    margin-right: 0.6em;
  }
}
@media (max-width: 500px) {
  .contact .mainContent .contactBox span ion-icon {
    margin-right: 0.4em;
  }
}
.contact .mainContent .contactBox span a {
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  color: #469487;
}
@media (max-width: 991px) {
  .contact .mainContent .contactBox span a {
    color: #75c86d;
  }
}
.contact .mainContent .contactBox span a:hover {
  color: #75c86d;
}
.contact .mainContent .contactBox .githubLink a {
  margin: 0 0.5em;
}
.contact footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1em 6.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
  letter-spacing: 0.06em;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 991px) {
  .contact footer {
    padding: 1em 4em;
  }
}
@media (max-width: 789px) {
  .contact footer {
    padding: 1em 3.5em;
    letter-spacing: normal;
  }
}
.contact footer span {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact footer span a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
}
.contact footer span a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.contact footer span a ion-icon {
  font-size: 1.3em;
  margin-left: 0.5em;
}
.contact footer .up a {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 4.5em;
  color: #469487;
  transition: 0.3s ease-in-out;
  z-index: 10;
}
@media (max-width: 789px) {
  .contact footer .up a {
    font-size: 3em;
    right: -0.5em;
    bottom: -0.25em;
  }
}
.contact footer .up a:hover {
  color: #75c86d;
  bottom: 0.1em;
}
@media (max-width: 789px) {
  .contact footer .up a:hover {
    bottom: -0.25em;
  }
}
.contact footer .up a ion-icon {
  margin-left: 0;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
